import React, { PropTypes } from 'react'
import { connect } from 'utils'
{{#if wantHeaders}}
import Helmet from 'react-helmet'
{{/if}}
{{#if wantActionsAndReducer}}
import { createStructuredSelector } from 'reselect'

import { makeSelect{{properCase name}} } from './selectors'
{{/if}}

export class {{ properCase name }} extends React.{{{ component }}} {

  static propTypes = {
    dispatch: PropTypes.func.isRequired,
  }

  {{#if wantActionsAndReducer}}
  static mapStateToProps = createStructuredSelector({
    {{ camelCase name }}: makeSelect{{ properCase name }}(),
  })
  {{/if}}

  static mapDispatchToProps = (dispatch) => ({
    dispatch,
  })

  render() {
    return (
      <div>
      {{#if wantHeaders}}
        <Helmet
          title="{{properCase name}}"
          meta={{curly true}}[
            {{curly true}} name: 'description', content: 'Description of {{ properCase name }}' {{curly}},
          ]{{curly}}
        />
      {{/if}}
      </div>
    )
  }
}

export default connect({{ properCase name }})
